*.pyc
*.DS_Store
*.idea
*.sql
*.pdf
*.avi
*.ogg
*.mp4
*.sqlite3
*.vagrant
*.cer
files/draper-openrc.sh
op_tasks/migrations/*
exp_portal/migrations/*
developer/migrations/*
uploads/migrations/*
secret.py
static/results/*

