<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tap Home</title>
    <!-- <link href="{{ STATIC_URL }}js/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>
<body>
    <div class="container">
        <h1>Hello Tap!</h1>
        <div class="react-container"></div>
    </div>
    <!-- <script src="{{ STATIC_URL }}js/components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/es5-shim.min.js"></script> -->
</body>
</html>