{% extends "main.html" %}
{% block head %}
{% endblock %}

{% block header %}
  <div id="header-navbar">
    Signed in as {{user.email}} | <a class="header-navbar-link" href="{% url 'app_mgr:logout' %}">Sign Out</a>
  </div>
{% endblock %}

{% block container %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        {% if user.is_staff %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <b class="panel-title">
                Admininstration
                <span class="label label-warning">Beta</span>
              </b>
            </div>
            <div class="panel-body">
              <ul class="navigation-list">
              <li><a class="navigation-item" href="{% url 'app_mgr:view_profile' %}">Manage user profile</a></li>
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="panel-title">Navigation</b>
          </div>
          <div class="panel-body">
            <ul class="navigation-list">
              <li><a class="navigation-item" href="{% url 'app_mgr:view_profile' %}">Manage user profile</a></li>
            </ul>
          </div>
        </div>
        {% block side_block %}
        {% endblock %}
      </div>
      <div class="col-md-9 main">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
