{% extends "page.html" %}

{% block side_block %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <b class="panel-title">Achievements</b>
    </div>
    <div class="panel-body">
      <center>
      <div class="media">
        <div class="media-right">
            ONE
        </div>
      </div>
      <div class="media">
        <div class="media-right">
            TWO
        </div>
      </div>
      <div class="media">
        <div class="media-right">
            THREE
        </div>
      </div>
      </center>
    </div>
  </div>
{% endblock %}
