.open-close {
	background-color: #D5D5D5;
	padding: 3px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 30px;
	cursor: pointer;
	font-family: 'montserrat-bold';
	font-size: 18px;
	line-height: 24px;
}

.ot-hide > .open-close {
	pointer-events: none;
}

.ot-hide .glyphicon {
	pointer-events: auto;
	filter: alpha(opacity=100);
	/*color: black;*/
}

#ot_menu {
	height: 178px;
	/*bottom: 0px;*/
	/*left: 3%;*/
	/*position: fixed;*/
	background-color: #fff;
	z-index: 1000;
	width: 230px;
	border-radius: 5px;
}

.ot-show > .open-close {
	pointer-events: none;
}

.ot-show .glyphicon {
	pointer-events: auto;
}
.ot-show {
	position: fixed;
	left: 20px;
	bottom: 45px;
	/*margin-bottom: 10px;*/
	opacity: 1;
	filter: alpha(opacity=100);
	border: 1px solid rgb(155, 155, 155);
	box-shadow: 0px 0px 28px rgb(129, 129, 129);
}

.ot-hide {
	/*margin-bottom: -175px;*/
	position: fixed;
	left: 20px;
	bottom: -144px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	border-style: none;
}

.ot-show, .ot-hide {
  transition: bottom .4s ease-in;
  -webkit-transition: bottom .4s ease-in;
}

.ot-container {
	margin: 5px;
	font-family: 'montserrat-reg';
}

.ot-open-btn {
	width: 100%;
	margin: 0px !important;
}

.timer {
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color: white;*/

  text-align: center;
}

.timer .time {
	font-size: 20px;
}

.timer p {
	margin: 5px;
}
